body {
    font-family: 'Arial', sans-serif; /* Fonte moderna */
    background-color: #f4f4f9; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    text-align: center; /* Alinhamento central do texto */
    padding: 20px; /* Espaçamento interno */
}

p {
    font-size: 1.2rem; /* Tamanho da fonte */
    margin-bottom: 1.5rem; /* Espaçamento entre parágrafos */
}

.code {

}

span{
    
}

#saudacao{
    
}